 body{
  background-color: rgb(46, 46, 46);
 }

 table {
  padding: 20px;
  background-color: rgb(133, 133, 133);
 }
 table td {
  padding:40px;
  background-color: #afafafab;
  
  transition: 0.2s ease-out 0.5s;
   
 }

 table td:hover {
  background-color: rgb(107, 148, 201);
  transition: 0.2s ease-out 0s;
 }
 